.offerts {
  display: flex;
  justify-content: center;
}

.offerts .product-card {
  position: relative;
  box-shadow: 0 2px 7px #d1d1d1;
  background: #f2f2f2;
  margin: 0.5rem 1rem;
  padding: 0 2.5rem;
  border-radius: 10px;
}

.offerts .badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  background: red;
  color: #fff;
  padding: 8px 18px;
}

.offerts .product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
}

.offerts .product-tumb img {
  margin: 0.5rem;
  max-width: 75%;
}

.offerts .product-details {
  padding: 30px;
}

.offerts .product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.offerts .product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.offerts .product-details p {
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.offerts .product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.offerts .product-bottom-details div {
  float: left;
  width: 50%;
}

.offerts .product-price {
  font-family: "Roboto Slab", serif;
  font-size: 1.6rem;
  color: #b6c867;
  font-weight: 600;
}

.offerts .product-price small {
  color: #ff0000;
  font-family: "Roboto Slab", serif;
  font-size: 1.3rem;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
  padding: 0 0.5rem;
}

.offerts .product-links {
  text-align: right;
}

.offerts .product-links a {
  font-family: "Roboto Slab", serif;
  display: inline-block;
  margin-left: 4px;
  color: #000000;
  transition: 0.3s;
  background-color: white;
  border-radius: 50%;
  padding: 1.3rem 1.6rem;
  box-shadow: rgb(0 0 0 / 10%) 0px 0.5rem 1.5rem;
  transition: all 300ms ease-in-out 0s;
}

.offerts .product-links a:hover {
  background-color: #a3a847;
  color: white;
  cursor: pointer;
}
