@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero {
  margin-top: -22px;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #f2f2f2;
}

.swiper-slide,
.swiper-container,
.hero .row {
  width: 100vw;
  height: 100%;
}

.hero .row {
  position: relative;
}

.hero .row img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.hero .row .content {
  position: absolute;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
}

.hero .row .content h1 {
  font-family: "Roboto Slab", serif;
  line-height: 1;
  font-size: 4rem;
  font-weight: 500;
}

.hero .row .content span {
  font-family: "Roboto Slab", serif;
  color: #b6c867;
}

.hero .row .content p {
  font-family: "Roboto Slab", serif;
  margin: 1rem 0 1rem;
  width: 70%;
}

.hero .row .content a {
  font-family: "Roboto Slab", serif;
  display: inline-block;
  color: rgb(255, 255, 255);
  background-color: #bbce69;
  border-radius: 5px;
  padding: 1rem 2.5rem;
  margin-top: 2rem;
}

.swiper-slide-active .content h1 {
  animation: movebottom 1s ease-in-out;
}

.swiper-slide-active .content a {
  animation: movetop 1s ease-in-out;
}

.swiper-slide-active .content p {
  animation: moveleft 1s ease-in-out;
}

@keyframes movebottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes movetop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes moveleft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.hero .arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease-in-out;
}

.hero:hover .arrows {
  visibility: visible;
  opacity: 1;
}

.arrows .swiper-prev,
.arrows .swiper-next {
  position: absolute;
  padding: 0.5rem 0.7rem;
  background-color: #bbce69;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

.arrows .swiper-prev {
  left: 20px;
}

.arrows .swiper-next {
  right: 20px;
}

@media (max-width: 567px) {
  .hero .row img {
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
  }
  .hero {
    margin-top: -22px;
  }
  .hero .row .content h1 {
    margin-top: -4remx;
    font-size: 3rem;
  }
  .hero .row .content p {
    width: 80%;
  }
  .hero .row {
    width: 100vw;
    height: 100%;
  }
}
